<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="overlay-bg" id="overlayBg">
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h2>Log In</h2>
                    <span>or use your account</span>
                    <div>
                        {{ form.email.label_tag }} {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div>
                        {{ form.password.label_tag }} {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <a href="{% url 'password_reset' %}" id="forgotPassword">Forgot your password?</a>
                    <button type="submit">Log In</button>
                </form>
            </div>
            <div class="form-container forgot-password-container">
                <form method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <h2>Reset Password</h2>
                    <span>Enter your email to reset your password</span>
                    <div>
                        {{ form.email.label_tag }} {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h2>Hello, Friend!</h2>
                        <p>If you have forgotten your password, enter your email to reset it</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h2>Welcome Back!</h2>
                        <p>Please login with your personal credentials</p>
                        <p>If you don't have an account yet, create one by clicking the button below</p>
                        <a href="{% url 'signup' %}"><button class="ghost" id="signUp">Sign Up</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>
